{
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "printWidth": 120,
    "endOfLine": "auto",
    "importOrder": [
        "^vue",
        "^@vue(.*)$",
        "^@(/?)store(.*)$",
        "^@(/?)router(.*)$",
        "^@(/?)views(.*)$",
        "^@(/?)components(.*)$",
        "^@(/?)assets(.*)$",
        "^./(.*)$",
        "<THIRD_PARTY_MODULES>"
    ],
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
